{{page-title "Tictactoe"}}

{{outlet}}

<footer class="fotter" >
  <p>This game is developed by Muhammad ur Rehman</p>
  <p>
    <a href="https://www.linkedin.com/in/m-ur-rehman/" target="_blank" style="color: orange; text-decoration: none; margin-right: 10px;">LinkedIn</a>
    <a href="https://github.com/muhammad-ur-rehman" target="_blank" style="color: orange; text-decoration: none;">GitHub</a>
  </p>
</footer>